.form-search-item {
  &__search {
    border-radius: 4px;
    border: none;
    outline: orange;
    height: 20px;

    &:focus {
      outline: tan;
      border: orange;
    }
  }
}

.select_group {
  &__select {
    border-radius: 4px;
    border: none;
    outline: none;
  }
}

.checkbox-group {
  span {
    margin-left: 10px;
  }
}

.frm {
  margin-bottom: 15px;
}

// Mobile & tablet
@media (max-width: 1024px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  .container {
    width: initial;
    max-width: 1023px;
  }

  .form-search-item {
    &__search {
      width: 100%;
      border-radius: 4px;
      border: none;
      outline: orange;
      height: 25px;

      &:focus {
        outline: tan;
        border: orange;
      }
    }
  }

  .select_group {
    &__select {
      border-radius: 4px;
      border: none;
      outline: none;
      height: 30px;
    }
  }
}

// Tablet
@media (min-width: 739px) and (max-width: 1024px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  .container {
    width: initial;
    min-width: 739px;
    max-width: 1023px;
  }

  .form-search-item {
    &__search {
      width: 100%;
      border-radius: 4px;
      border: none;
      outline: orange;
      height: 25px;

      &:focus {
        outline: tan;
        border: orange;
      }
    }
  }

  .select_group {
    &__select {
      border-radius: 4px;
      border: none;
      outline: none;
      height: 30px;
    }
  }
}

//Mobile
@media (max-width: 740px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  .container {
    width: initial;
    min-width: 739px;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  .hide-on-mobile {
    display: none;
  }
  .container {
    width: initial;
    min-width: 320px;
    max-width: 479px;
  }
}
